<!DOCTYPE html>
<html>
<head>
<metachRSET = "UTF-8">   
<title> About the NorCal Time Trials Series </title>
<link rel="stylesheet" href="../asset/media/styles/About.css">
</head>
<body>
         <!------header section--------->    
    <header>  
    <h1> NorCal Time Trials Series </h1>
    </header>
    <div class="container">
    <h2> About NCTTS</h2>
    <img src="../asset/media/img/norcal.png" class="logo">
    </div>
     <!------navbar  second section-------->
    <div class="navbar">
    <nav>
        <ul class="list">
            <li class="homepage"> <a href="./HomePage.html" class="home"> Home</a> </li>
            <li class="aboutus"> <a href="./AboutUs.html" class="about"> About us</a>  </li>
            <li class="contact"> <a href="./ContactPage.html" class="contact"> Contact Page</a>  </li>
        </ul>
    </nav>
</div>
    <div class="ourvalues">
    <h3> Mission </h3>
    <p class="mission">To quote https://24hoursoflemons.com/:  
        “Racing shouldn’t just be for rich idiots. Racing should be for all idiots.”
         </p>
    <h3> Vision </h3>    
    <p class="vision">The NorCal Time Trial Series aspires to make the excitement of competitive 
    racing events on iconic Northern California racetracks available to all 
    enthusiasts without the costs or risks of wheel-to-wheel racing.
    </p> 
    <h3> General Information</h3>
    <p class="information">The NorCal Time Trial Series will hold at least one event per month on a 
    track such as Sonoma Raceway, Thunderhill Raceway, or WeatherTech Raceway at 
    Laguna Seca. Full safety equipment is required, and your car must pass technical
    inspection before you can compete.
    </p>
</div>
</body>
</html>


