<!DOCTYPE html>
<html>
<head>
<metachRSET = "UTF-8">   
<title> About the NorCal Time Trials Series </title>
<link rel="stylesheet" href="../asset/media/styles/About.css"
<img src="../asset/media/img/imagenproyecto.jpeg" class="imageheader">
</head>
<body>
  <!------header section--------->
  <h1> NorCal Time Trials Series </h1>
  <div class="container">
         <ul>
             <li class="homebox">
                 <a href="./HomePage.html" class="home"> Home</a>
             </li>
                <li class="aboutbox">
                 <a href="./AboutUs.html" class="about">About</a>
             </li>
                <li class="contactbox">
                <a href="./ContactPage.html  " class="contact">Contact</a>
             </li>
         </ul>

  </div>
  
  <header>  
   
     </header>

<h2> Upcoming Events</h2>


<section class="container2">
 <img src="../asset/media/img/norcal.png" class="logo">

        <div class="ourvalues">
            <h3>Mission</h3>
            <div class="mission"> 
              <p>To quote https://24hoursoflemons.com/: </p>
              <p>“Racing shouldn’t just be for rich idiots. Racing should be for all idiots.”</p>
            </div>  

            <h3>Vision</h3>
            <div class="vision">
              <p>The NorCal Time Trial Series aspires to make the excitement of competitive</p> 
              <p>racing events on iconic Northern California racetracks available to all</p>
              <p>enthusiasts without the costs or risks of wheel-to-wheel racing.</p>
  
            <h3>General Information</h3>
            <div class="general-information"></div>
              <p>The NorCal Time Trial Series will hold at least one event per month on a</p> 
              <p>track such as Sonoma Raceway, Thunderhill Raceway, or WeatherTech</p>
        </div>
    

   
   
</body>
</html>