<!DOCTYPE html>
<html>
<head>
<metachRSET = "UTF-8">   
<title> About the NorCal Time Trials Series </title>
<link rel="stylesheet" href="../asset/media/styles/contact.css">

</head>
<body>
    <img src="../asset/media/img/imagenproyecto.jpeg" class="imageheader">
   
         <!------header section--------->
         
    <header>  
    <h1> NorCal Time Trials Series </h1>
    </header>
    <div class="container">
    <h2> Contact</h2>
    <img src="../asset/media/img/norcal.png" class="logo">
    </div>

     <!------navbar  second section-------->
    <div class="navbar">
    <nav>
        <ul class="list">
            <li class="homepage"> <a href="./HomePage.html" class="home"> Home</a> </li>
            <li class="aboutus"> <a href="./AboutUs.html" class="about"> About us</a>  </li>
            <li class="contact"> <a href="./ContactPage.html" class="contact"> Contact Page</a>  </li>
        </ul>
    </nav>
    </div>
    <div class="contactmail">
    <p>Please email us at: <a href=info@nctts.org>info@nctts.org</a> </p>
    <p>We will reply as quickly as we can.</p>
</div>
</body>
</html>