<!DOCTYPE html>
<html>
<head>
<metachRSET = "UTF-8">   
<title> About the NorCal Time Trials Series </title>
</head>
<link rel="stylesheet" href="../asset/media/styles/contact.css"
<body>
    <h1> NorCal Time Trials Series </h1>
    <nav>
        <ul>
            <li> <a href="./HomePage.html"> Home</a>  </li>
            <li> <a href="./AboutUs.html">About us</a>  </li>
            <li> <a href="./ContactPage.html">Contact Page</a>  </li>
        </ul>
    </nav>
    <img src="../asset/media/img/norcal.png">
    <img src="../asset/media/img/norcal4.png"
    <p>Please email us at: info@nctts.org 
        We will reply as quickly as we can.
        </p>