<!DOCTYPE html>
<html>
<head>
<metachRSET = "UTF-8">   
<title> About the NorCal Time Trials Series </title>
</head>
<body>
    <h1> NorCal Time Trials Series </h1>
    <nav>
        <ul>
            <li> <a href="./HomePage.html"> Home</a>  </li>
            <li> <a href="./AboutUs.html">About us</a>  </li>
            <li> <a href="./ContactPage.html">Contact Page</a>  </li>
        </ul>
    </nav>
    <img src="../asset/media/img/norcal.png">
    <img src="../asset/media/img/norcal2.png">
    <h2> Upcoming events </h2>
    <p>February 12</p>
    <p>   Board meeting</p>
    <p>February 25</p>
    <p>   Drivers Zoom Meeting</p>
    <p>March 12</p>
    <p>   First event at Thunderhill!</p>
</body>
</html>