<!DOCTYPE html>
<html>
<head>
<metachRSET = "UTF-8">   
<title> About the NorCal Time Trials Series </title>
<link rel="stylesheet" href="../asset/media/styles/Home.css"
<img src="../asset/media/img/imagenproyecto.jpeg" class="imageheader">
</head>
<body>
   
         <!------header section--------->
         
    <header>  
    <h1> NorCal Time Trials Series </h1>
    </header>
    <div class="container">
    <h2> Upcoming Events</h2>
    <img src="../asset/media/img/norcal.png" class="logo">
    </div>

     <!------navbar  second section-------->
    <div class="navbar">
    <nav>
        <ul class="list">
            <li> <a href="./HomePage.html"> Home</a>  </li>
            <li> <a href="./AboutUs.html">About us</a>  </li>
            <li> <a href="./ContactPage.html">Contact Page</a>  </li>
        </ul>
    </nav>
    </div>
    <div class="Events">
    <p>February 12</p>
    <p>Board meeting</p>
    <p>February 25</p>
    <p>Drivers Zoom Meeting</p>
    <p>March 12</p>
        <p>First event at Thunderhill!</p>
</div>
</body>
</html>