<!DOCTYPE html>
<html>
<head>
<metachRSET = "UTF-8">   
<title> About the NorCal Time Trials Series </title>
<link rel="stylesheet" href="../asset/media/styles/Home.css"
<img src="../asset/media/img/imagenproyecto.jpeg" class="imageheader">
</head>
<body>
         <!------header section--------->
         <h1> NorCal Time Trials Series </h1>
         <div class="container">
                <ul>
                    <li class="homebox">
                        <a href="./HomePage.html" class="home"> Home</a>
                    </li>
                       <li class="aboutbox">
                        <a href="./AboutUs.html" class="about">About</a>
                    </li>
                       <li class="contactbox"><a href="./ContactPage.html  " class="contact">Contact</a></li>
                </ul>
       
         </div>
         
         <header>  
          
            </header>

    <h2> Upcoming Events</h2>
    

    <section class="container2">
        <img src="../asset/media/img/norcal.png" class="logo">
        <div class="events">
            <p>February 12</p>
            <p class="sangria1">Board meeting</p>
            <p>February 25</p>
            <p class="sangria2">Drivers Zoom Meeting</p>
            <p>March 12</p>
            <p class="sangria3">First event at Thunderhill!</p>
        </div>
    </section>

   
   
</body>
</html>